.trello-column {
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__list {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.trello-content {
    background: #5584A1;
}